# 겨울방학 파이썬 스터디 4차시

<font color = "#CC3D3D"><p>

- [Series](#Series)
    - [Series 다루기](#Series-다루기)
- [DataFrame](#DataFrame)
    - [DataFrame 다루기](#DataFrame-다루기)
    - [Column handling](#Column-handling)
    - [Indexing](#Indexing)
        - [열 indexing](#열-indexing)
        - [행 indexing](#행-indexing)
            - [loc, iloc](#loc,-iloc)
            - [boolean indexing](#boolean-indexing)
            - [query](#query)
    - [Merging DataFrame](#Merging-DataFrame)
    - [Concatenating DataFrame](#Concatenating-DataFrame)
    - [Handling Missing Data](#Handling-Missing-Data)
    - [Duplicate Rows](#Duplicate-Rows)
- [Reading and Writing Data](#Reading-and-Writing-Data)
- [Exercise](#Exercise)

# Pandas

In [2]:
import pandas as pd

## Series

In [ ]:
obj = pd.Series([4,7,-5,3]) ; obj

### Series 다루기

.values : 값만 따로 확인

In [ ]:
obj.values

.index : index 범위값 확인

In [ ]:
obj.index

.dtypes : 데이터 타입 확인

In [ ]:
obj.dtypes

In [ ]:
#object의 경우 확인
obj_str = pd.Series(['a','b','c','d']) ; obj_str

In [ ]:
obj_str.dtypes

원하는 값으로 인덱스 지정  ( 딕셔너리 형태로도 가능함 )

In [ ]:
obj2 = pd.Series([4,7,-5,3], index = ['a','b','c','d']) ; obj2

In [ ]:
dic = {'고민성' : 22 , '권유진' : 22 , '이태범' : 22 , '구준회' : 22}
obj3 = pd.Series(dic)   ; obj3

In [ ]:
type(obj3)

.name : Series 이름과 index 이름 지정하기

In [ ]:
obj3.name = "스터디 멘토"   # Series 이름을 정할때는 시리즈명.name
obj3.index.name = "이름"    # index 이름을 정할때는 시리즈이름.index.name
obj3

index 값 변경하기

In [ ]:
obj3.index = ['유진','준회','태범','민성'] ; obj3

## DataFrame

In [ ]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Ohio'],
    'year': [2000, 2001, 2002, 2001, 2002, 2000],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
df = pd.DataFrame(data)  ; df

### DataFrame 다루기

.info() : 해당 DataFrame에 대한 대략적인 정보 제공

In [ ]:
df.info()

.columns : 열 이름 확인하기

In [ ]:
for a in df.columns:
    print(a)

.values : 값이 행을 기준으로 묶여서 제공

In [ ]:
df.values

.size : 행의 개수 * 열의 개수

In [ ]:
df.size # 6*3

.shape : 데이터의 모양을 알려줌

In [ ]:
df.shape   # 6개의 행, 3개의 열로 구성되어있다는 의미.

In [ ]:
df.shape[0] # 행의 개수

In [ ]:
df.shape[1] # 열의 개수

In [ ]:
len(df) # 이전에 배웠던 len()에 넣으면 데이터프레임의 길이 즉, 행의 개수 출력

.describe() : 데이터가 갖고 있는 수치데이터들의 대표적인 통계값

In [ ]:
df.describe()  # 데이터 타입이 숫자인 year과 pop에 대한 통계값

In [ ]:
df.describe(percentiles=[.1,.2,.5,.8]) # 백분위 구간 조정

In [ ]:
df.describe().astype('int')  # 실수가 아닌 정수 형태로

.head() : 데이터 최상단에 있는 5개 항목 표시

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.head(3)   # 최상단에 있는 3개의 항목 표시

.tail() : 데이터 최하단에 있는 5개 항목 표시

In [ ]:
df.tail()

In [ ]:
df.tail(2)

여러 내장 함수 사용 가능

In [ ]:
df

In [ ]:
#df['year'].sum()
#df['year'].mean()
#df['year'].count()
#df['year'].size
#df['year'].max()

.unique() : 해당 열의 고유값을 반환

In [ ]:
df['year'].unique()

.nunique() : 해당 열의 고유값의 개수를 반환

In [ ]:
df['year'].nunique()

.value_counts() : 각 고유값의 출력횟수

In [ ]:
df['year'].value_counts()

.mode() : 해당 열의 최빈값을 반환

In [ ]:
df["state"].mode()[0]

.sort_values() : 데이터를 순서대로 정렬

In [ ]:
df

In [ ]:
df.sort_values(by = 'year') #year의 값을 기준으로 오름차순 정렬 디폴트값은 오름차순

In [ ]:
df.sort_values(by = 'year',ascending = True) #동일한 것을 볼 수 있음

In [ ]:
#문자열 기준 정렬
df.sort_values(by = 'state') #알파벳순으로 정렬됨을 알 수 있음

In [ ]:
# 내림차순 정렬
df.sort_values(by = 'state', ascending=False)

In [ ]:
df

In [ ]:
df=df.sort_values(by = 'state', ascending=False); df

In [ ]:
#두가지를 기준으로 정렬하고 싶을 때
df.sort_values(by = ['year', 'pop'])

In [ ]:
#두가지를 기준으로 정렬할 때, 오름차순,내림차순을 서로 다르게 하고싶은 경우
df.sort_values(by = ['year', 'pop'], ascending = [False,True])

### Column handling

- 새로운 열 추가하기 : data[new_column_name] = [values]

In [ ]:
df

In [ ]:
df['num'] = [0,1,0,2,3,5] ; df

- 새로운 열 추가하기 : Series 이용

In [ ]:
num2 = pd.Series([5,6,7], index=[0,2,4])   # index를 이용해 원하는 특정 행에만 값
df['num2'] = num2 ;df      # NaN (결측값 -> 뒤에서 더 자세하게)

- 열 삭제하기 : del data[column_name]

In [ ]:
del df['num2'] ; df

- 열 삭제하기 : data.drop(column_name, axis = 1, inplace = True)

In [ ]:
# inplace = True 인자를 적지 않으면 원본 데이터를 보존.
df=df.drop( 'num', axis = 1) ;

In [ ]:
df

In [ ]:
df.drop( 'num', axis = 1, inplace = True) ; df

In [ ]:
# inplace = True 인자를 적지 않으면 원본 데이터를 보존.
df.drop( 'pop', axis = 1) ; df

- 열 이름 변경하기 : data.rename(columns = {before_name : after_name})

In [ ]:
df.rename(columns = { 'pop' : 'pop1'})

In [ ]:
df

In [ ]:
# inplace = True 인자가 있어야 원본 데이터 변경
# df = df.rename(columns = { 'pop' : 'pop1'} ) 로 하는 방법도 존재
df.rename(columns = { 'pop' : 'pop1'} , inplace = True )  ; df

- 열 이름 변경하기 : data.columns = [column1, column2 ...]

In [ ]:
# 전부 다 바꾸고 싶을 땐, list 형태로 넘겨줘도 되지만, list의 길이가 column의 개수와 같아야 한다.
df.columns = ['주','년도','pop'] ; df

## Indexing

### 열 indexing

In [ ]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Ohio'],
    'year': [2000, 2001, 2002, 2001, 2002, 2000],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
df = pd.DataFrame(data)  ; df

In [ ]:
df.state  # 시리즈

In [ ]:
df.year

In [ ]:
df['state'] # 시리즈

In [ ]:
# 하나의 열은 데이터프레임으로 출력할 수 없나?
#pd.DataFrame(df['state'])
df[['state']]

In [ ]:
## 여러개의 열을 동시에 indexing [[]] 대괄호를 두개!!  
df[['state', 'pop']]  # 데이터 프레임   #여러개를 시리즈로 보고 싶다?

In [ ]:
df.filter(['state', 'year']) # filter 오직 열만 추출가능

In [ ]:
# column명에 's'가 포함된 column추출
df.filter(like = 's')

### 행 indexing
<img src='http://drive.google.com/uc?export=view&id=1eyYiZP5xQr5M6IIw9lnKjoAYY1m4YmiI'>

#### loc, iloc

- loc은 이름으로 뽑음
- iloc은 위치로 뽑음 (인덱스값)

In [ ]:
df2 = pd.DataFrame({
    "name" : ['지은','병하','지환','종은','민지','채원'],
    "age" : [20, 20, 20, 40, 22, 25],
    "year" : [2016, 2017, 2018, 2019, 2019, 2017],
    "points" : [1.5, 1.7, 2.0, 3.8, 1.9, 2.3] 
})
df2

- .iloc[ 행 , 열 ] 그동안 해왔던 인덱싱, 슬라이싱과 동일하게 생각하면 편함

In [ ]:
## iloc - 행 번호 (0 부터) 기준
df2.iloc[1:3]  # 인덱싱번호가 1부터 2까지인 행 추출

In [ ]:
df2.iloc[3]  # 인덱싱번호가 3인 행 추출

In [ ]:
df2.iloc[1:3,0:3]  # 인덱싱번호가 1부터 2까지인 행에서 인덱싱 번호가 0부터 2까지인 열 추출

In [ ]:
df2.iloc[:,-4:-2] # -4부터 -3까지의 열에서 모든 행

In [ ]:
df2.iloc[:,-3:] # -3부터 모든 열에서 모든 행

In [ ]:
df2.iloc[[0,1,3],[1,3]] # 인덱싱번호 0,1,3인 행, 1,3인 열 -> 특정 행렬을 지정해서 추출 가능

In [ ]:
df2.iloc[1,2] # 인덱싱번호 1번 행, 2번 열에 해당하는 값

In [ ]:
#live quiz 인덱싱번호가 3~5인 행, 열은 year 열만 추출해라  dfn

In [ ]:
df2

- .loc[ 행 , 열 ] 인덱싱번호가 아닌 이름!으로 생각

In [ ]:
## loc - 인덱스 (이름) 기준
df2.loc[1:3]  # 인덱스 이름이 1부터 3까지인 행의 모든 열

In [ ]:
df2.loc[1:3,'name':'year'] # 인덱스 이름이 1부터 3까지인 행의 name 부터 year까지 열

In [ ]:
df2.loc[:,['name','year']] # name과 year이라는 이름을 가진 열들의 모든 행

In [ ]:
df2.loc[1:3,:] # 인덱스 이름이 1부터 3인 행의 모든 열

In [ ]:
df2.loc[0,'age'] # 인덱싱 번호 0, 열 이름이 age에 해당하는 값

#### boolean indexing

- 값이 참(True)과 거짓(False)으로 나타나는 데이터에서 True 값만 추출

In [ ]:
df2['year'] > 2017

In [ ]:
df2.loc[df2['year'] > 2017, :]  # year가 2017 초과인 행

In [ ]:
df2.loc[df2['age'] > df2['age'].mean(), ['name','age']] # age가 평균보다 큰 행에서 name, age 열

In [ ]:
# 이름이 B인 name, year 열 추출
df2.loc[df2['name']=="지은" , ['name','year']]

In [ ]:
## 조건이 여러개 일 때 
df2.loc[(df2['name'] == '지환') & (df2['points'] < 3), ['name','age','points']]  #  &

In [ ]:
df2.loc[(df2['name'] == '종은') | (df2['points'] < 2), ['name','age','points']]   #  |

#### query

- boolean indexing의 가독성을 높인 것, 질의기능을 수행

In [ ]:
df2.query('year > 2017')

In [ ]:
df2.query('age > age.mean()').filter(['name','age'])

In [ ]:
df2.query('name =="민지" & points == 1.9').filter(['name','age','points']) #and & 둘다 사용이 가능합니다.

In [ ]:
# 이름이 ['채원', '병하'] 리스트 안에 있는 행
lst=['채원', '병하']
df2.query('name in @lst')  # query문 밖에서 저장한 변수를 사용할 때는 @를 앞에 붙여야 함.

In [ ]:
df2  # points 가 평균보다 높고 그 중에서 나이가 가장 어린 사람의 이름을 출력해보세요 query를 이용하셔야합니다.!

## Merging DataFrame

<font color='darkgreen'>
##### Merge Types
<br><img align="left" src="http://drive.google.com/uc?export=view&id=1yEU_xZ9qZrZi8IIWTMhhMIKI95XxisX0" width=900 height=800>

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

display(df1,df2)

In [ ]:
pd.merge(df1, df2)  # how = 'inner'이 default

In [ ]:
pd.merge(df1, df2, on='key')  # on = 'key' : key라는 열을 기준으로 merge

In [ ]:
pd.merge(df1, df2, on='key', how='outer')  # how='outer' : 합집합

In [ ]:
display(df1,df2)

In [ ]:
# 오른쪽의 df2가 기준이 되어 고정, 
# 왼쪽의 df1는 동일한 key값을 가질 때마다 달라 붙음, 없는 경우 NaN
pd.merge(df1, df2, on='key', how='right')

- column명이 다른 경우

In [ ]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                 'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'], 'data2': range(3)})

display(df3,df4)

In [ ]:
# lkey 와 rkey가 기준열
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey' , how = 'outer')

## Concatenating DataFrame

In [3]:
df5 = pd.DataFrame({'one' : range(0,5,2),
                    'two' : range(1,6,2)},
                  index=['a','b','c'])
df6 = pd.DataFrame({'three' : range(5,8,2),
                    'four' : range(6,9,2)},
                  index=['a','c'])
display(df5, df6)

   one  two
a    0    1
b    2    3
c    4    5

   three  four
a      5     6
c      7     8

In [7]:
pd.concat([df5,df6]) # 행으로 추가

   four  one  three  two
a   NaN  0.0    NaN  1.0
b   NaN  2.0    NaN  3.0
c   NaN  4.0    NaN  5.0
a   6.0  NaN    5.0  NaN
c   8.0  NaN    7.0  NaN

In [5]:
pd.concat([df5,df6], axis=1) # 열로 추가 : axis = 1 필요

   one  two  three  four
a    0    1    5.0   6.0
b    2    3    NaN   NaN
c    4    5    7.0   8.0

In [ ]:
pd.concat([df5,df6], ignore_index=True) ## 겹치는 index 무시하고 새로 부여

## Handling Missing Data

In [ ]:
data = pd.merge(df3, df4, left_on='lkey', right_on='rkey',how='outer')
data

- column별 / row별 결측값 개수 구하기

In [ ]:
data.isnull()  # 결측값이 True로 반환
# pd.isnull(data)

In [ ]:
## column별 개수
data.isnull().sum()
#pd.isnull(data).sum()

In [ ]:
sum(data.isnull().sum())

In [ ]:
data.info()

In [ ]:
## row별 개수
data.isnull().sum(axis = 1)
#data.isnull().sum(1)

In [ ]:
data.isnull().sum(1)

In [ ]:
data.notnull()   # 결측값이 False로 반환
# pd.notnull(data)

In [ ]:
## column별 개수
data.notnull().sum()
# pd.notnull(data).sum()

In [ ]:
## row별 개수
data.notnull().sum(1)
# pd.notnull(data).sum(1)

- 결측값 채우기

In [ ]:
# 데이터 변경을 위해서는 inplace=True 또는 data= 을 통해서 저장해야함.
#data.fillna(0,inplace=True)
#data=data.fillna(0)

In [ ]:
data

In [ ]:
data.fillna(0)

In [ ]:
data

In [ ]:
## 결측값을 앞 방향으로 채우기   # NaN 값을 위에 행 값으로 채워줌
data.fillna(method='ffill')

In [ ]:
## 결측값을 뒷 방향으로 채우기      # NaN 값을 아래 행 값으로 채워줌
data.fillna(method='bfill')

In [ ]:
## column별 평균으로 대체
data.fillna(data.mean())

In [ ]:
## column마다 다른 값으로 대체
data.fillna({'lkey':'ㅋ','data1':100,'rkey':'ㅋㅋ','data2':-100})

- 결측값이 들어있는 row / column 제거하기

In [ ]:
data.dropna() #중복값이 있는 행을 제거

In [ ]:
data.dropna(axis=1)   # 열에 NaN값이 있으면 열 삭제

In [ ]:
data.dropna(how='all')   # 모두 NaN 값일때 삭제

## Duplicate Rows

In [ ]:
data = pd.DataFrame({
    'key1':['a', 'b', 'b', 'c', 'c'],
    'key2':['v', 'w', 'w', 'x', 'y'],
    'num':[1, 2, 2, 4, 5]
})
data

.duplicated() : 중복되는 행이 있는지 확인 ( True, False 반환 )

In [ ]:
data.duplicated()

In [ ]:
data.duplicated(['key1'])   # 'key1' 열을 기준으로 중복확인

In [ ]:
data.duplicated(['key1','key2'])# 'key1' , 'key2'열의 값이 모두 동일하면 True

In [ ]:
#data.duplicated(['key1'],keep=False)  # 전체 중복 값을 나타내주는 열 만들기 (모든 중복값을 True로 표현)
#data.duplicated(['key1'],keep='first')  # 첫 번째 값을 False로 나타냄 
#data.duplicated(['key1'],keep='last')  # 마지막 값을 False로 나타냄

.drop_duplicates() : 중복제거

In [ ]:
data.drop_duplicates()

In [ ]:
data.drop_duplicates(['key1']) # keep='first' default  기본적으로 아래 행이 지워짐.

In [ ]:
data.drop_duplicates(['key1'],keep='last')  # keep = 'last' 를 통해 위에 있던 행을 제거.

In [ ]:
# 두개의 열을 기준으로 중복 제거
data.drop_duplicates(['key1','key2']) # keep='first' default  기본적으로 아래 행이 지워짐.

## Reading and Writing Data
<br>
<img align="left" src="http://drive.google.com/uc?export=view&id=1PQtlrD6iwmV9kp5uJrcSsLWpkYih9wGI" width=500 height=400>
###### 읽을때는 pd. 쓸때는 dataframe.

- 앞으로 우리가 다루게 될 데이터는 대부분 csv파일, xlsx파일, txt파일일 것이다.
- `csv파일`이란 (comma  separated values)이라는 뜻으로, 데이터가 콤마(,)로 구분된 파일이다.
- `xlsx파일`이란 우리가 흔히 저장하는 엑셀 파일이다.

- csv 파일을 불러올 때에는 `pd.read_csv()` 함수를 사용한다.
- 한글 데이터를 읽을 때 깨질 확률이 있는데, 이럴 때 `encoding = 'cp949`` 인자를 추가하면 된다.
```python
data = pd.read_csv('파일명', encoding = 'cp949')
```
- 데이터를 내보낼 때에는 `data.to_csv()` 메소드를 사용한다.
- 마찬가지로 한글 데이터를 잘 저장하기 위해서 `encoding = 'cp949'` 인자를 넣어주는 것이 좋다.
```python
data.to_csv('저장하고자 하는 파일명', encoding = 'cp949')
```

- excel 파일을 불러올 때에는 `pd.read_xlsx()` 함수를 사용한다.
- 마찬가지로 한글 데이터를 읽을 때엔 `encoding = 'cp949'` 인자를 넣어주자.
- excel 파일은 csv파일과 다르게 데이터 구분자를 모르기 때문에, 직접 구분자를 입력해 주어야 한다.
- 구분자는 `sep = ` 인자를 통해 설정해 주어야 한다.
```python
data = pd.read_excel('파일명', encoding = 'cp949', sep = '\t')
```
- 마찬가지로 데이터를 내보낼 때에는 다음과 같이 한다.
```python
data.to_excel('파일명', encoding = 'cp949', sep = '\t')
```

In [ ]:
titanic = pd.read_csv('titanic.csv', encoding='cp949') ; titanic.head(5)

In [ ]:
# index_col = 0 첫번째 열을 인덱스로
titanic2 = pd.read_csv('titanic.csv', encoding='cp949', index_col=0) ; titanic2.head(5)

- 데이터 내보내고 읽어오기

In [ ]:
data = { 
    'name' : ['고민성','이태범','권유진','구준회'],
    'age' : [ 1, 2, 3, 4],
    'num' : [1, 2, 3, 4]}

example = pd.DataFrame(data) ; example

In [ ]:
example.to_excel('example.xlsx')

In [ ]:
example = pd.read_excel('example.xlsx') ; example

In [ ]:
example.to_excel('example1.xlsx', index = False)  # 인덱스를 내보내지 않음.

In [ ]:
example1 = pd.read_excel('example1.xlsx') ; example1

### Exercise

In [ ]:
import pandas as pd
titanic = pd.read_csv('titanic.csv', encoding='cp949') ; titanic

**Q1.** 열 이름을 Survived에서 "생존여부"로 변경하시오.

In [ ]:
# code here
titani.rename()

**Q2.** query를 사용하여 생존여부가 1인 데이터를 도출하시오.

In [ ]:
# code here

**Q3.** Q2에서 나온 데이터를 이용하여 생존여부가 1인 데이터 중 AGE열의 결측값 개수의 합을 구하시오.

In [ ]:
# code here